{% extends "base.html" %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block content %}

<h2>Cambiar contraseña</h2>
<form method="post">
    <label for="current">Contraseña actual:</label>
    <input type="password" id="current" name="current" required>
    <label for="new">Nueva contraseña:</label>
    <input type="password" id="new" name="new" required>
    <label for="confirm">Confirmar nueva contraseña:</label>
    <input type="password" id="confirm" name="confirm" required>
    <button type="submit">Cambiar contraseña</button>
</form>

{% endblock %}